@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  background: black;
}

button {
  background: none;
  border: none;
  position: relative;
  width: 160px;
  height: 50px;
  line-height: 1.4rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 4px;
  cursor: pointer;
  background-color: #666;
}

button::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, pink,blue,green,yellow,red,pink,blue,green,yellow,red);
  background-size: 400%;
  transition: 0.5s;
  animation:animate 20s linear infinite;
  opacity: 0;
} 


button::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, pink,blue,green,yellow,red,pink,blue,green,yellow,red);
  background-size: 400%;
  filter: blur(20px);
  transition: 0.5s;
  opacity: 0;
  animation: animate 20s linear infinite;
} 

button:hover::before, button:hover::after{
  opacity: 1;
}

@keyframes animate{
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 300% 0;
  }
  100%{
    background-position: 0 0;
  }
}

button span{
  position: absolute;
  display: block;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  text-align: center;
  padding-top: 10px;
  background-color:#0c0c0c;
  color: rgba(255,255,255,0.2);
  transition: 0.5s;
  z-index: 1;
}

button:hover span{
  color: rgba(255,255,255,1);
}

button span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255,255,255,0.1);
} 