@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$bgColor: black;
$textShadowColor: #07c1fa;
$textOnColor: #07c1fa;
$textOffColor: #0f3641;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $bgColor;
}

h2 {
  position: relative;
  color: $textShadowColor;
  font-size: 6vw;
  animation: animate 5s linear infinite;
  letter-spacing: 2px;
  text-transform: uppercase;
}



@keyframes animate {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
    color: $textOffColor;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
    color: $textOnColor;
    text-shadow:  0 0 10px $textShadowColor,
                  0 0 40px $textShadowColor,
  }
}